@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* footer */

.max-container {
  max-width: 1440px;
  margin: 0 auto;
}

/*  ======MISCELLANEOUS========= */

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d9e222;
  border-radius: 8px;
}

::selection {
  color: white;
  background: #e0e667;
}

.no-scroll::-webkit-scrollbar {
  width: 0px;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
    .animate-slide-right {
      animation: slide-right 0.5s ease-out;
    }
  
    .animate-slide-up {
      animation: slide-up 0.5s ease-out;
    }
  
    .animate-slide-left {
      animation: slide-left 0.5s ease-out;
    }
}
